* { 
    background-color: #E8F4E2;
}

*  {
    color: #5EA196;
}

h1 {
    text-align: center;
}
button {
    background:#5EA196 !important;
}
st-emotion-cache-ocsh0s e1d5ycv58{
    background: #5EA196;
}