* { 
    background-color: #E8F4E2;
}

*  {
    color: #5EA196;
}

h1 {
    text-align: center;
}
p{
    background-color:#5EA196 !important;
}
button, st-emotion-cache-ocsh0s e1d5ycv58{
    background: #5EA196 !important;
}