* { 
    background-color: #E8F4E2;
}

*  {
    color: #5EA196;
}

h1 {
    text-align: center;
}
button.st-emotion-cache-ocsh0s{
    color:#5EA196;
}
section.st-emotion-cache-1gulkj5, input{
    color: #5EA196;
}