* { 
    background-color: #E8F4E2;
}

*  {
    color: #5EA196;
}

.st-emotion-cache-1104ytp h1{
    text-align: center;
    color:#5EA196;
}

st.container {
    background-color: #5EA196;
    border-radius: 20%;
}